PROJECT_ROOT=/absolute/path/to/dr-ml/diabetes-ml

LOG_DIR=logs
DATASET_DIR=dataset
MODEL_DIR=model_dir

DATASET_NAME=diabetes.csv
LOG_NAME=app.log
MODEL_NAME=diabetes_prediction_model.joblib

TARGET_COL=Outcome
TEST_SIZE=0.15
RANDOM_STATE=42

API_KEY=your-secret-api-key-here
API_URL=http://127.0.0.1:8001/api/v1/predict